.client{
    @extend %section;


&__list{
    display: flex;
}

&__element{
    margin-right: 30px;
    
}

&__element--no-margin{
    margin-right: 0;
}



&__link{
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 5%;

    transition: color $transitionTime;
      


&:hover, &:focus{
    color: $accentColor;
    border: 1px solid $accentColor;
}
}


&__icon{
    fill: currentColor;
  }
}

