
.form-footer{
    margin-left: 93px;


 &__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;   
}

 &__input input{
   
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    padding: 16px;
    color: $whiteColor;
    width: 358px;
    margin-right: 12px;
}


 &__button{
    @extend %button;


    display: flex;
    justify-content: center;

    min-width: 200px;
    height: 50px;
    margin: 0 auto;
    padding: 8px 26px;
   


 &:hover, &:focus {
    color: $primaryColor;
    background-color: $whiteColor ;
    }
}

  &__icon{
    margin-left: 10px;
    fill: currentColor;
  }   
}